@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Fellix";
    src: url("/fonts/fellix/Fellix-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Fellix";
    src: url("/fonts/fellix/Fellix-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Fellix";
    src: url("/fonts/fellix/Fellix-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Fellix";
    src: url("/fonts/fellix/Fellix-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Fellix";
    src: url("/fonts/fellix/Fellix-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Fellix";
    src: url("/fonts/fellix/Fellix-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: "Fellix";
    src: url("/fonts/fellix/Fellix-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Fellix";
    src: url("/fonts/fellix/Fellix-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: "Fellix";
    src: url("/fonts/fellix/Fellix-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "Fellix";
    src: url("/fonts/fellix/Fellix-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
  }
}


@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 1200s linear infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.2) transparent;
}
